<div class="wrapper">
    <section class="module module-w">
        <div class="container">
            <div class="row m-b-70">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2>您已成功送出您的訊息，我們將會盡快與您連繫。謝謝 !</h2>
                </div>
            </div>
        </div>
    </section>
</div>