<footer class="footer module-overlay-dark-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="social-icons text-center m-b-40">
                    <a data-name="fb" target="_blank" title="分享到 Facebook" class="fa fa-facebook facebook shareSocial"></a>
                    <a data-name="tr" target="_blank" title="分享到 Tweet" class="fa fa-twitter twitter shareSocial"></a>
                    <a data-name="g+" target="_blank" title="分享到 Google+" class="fa fa-google-plus google-plus shareSocial"></a>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright text-center">
                    © 2016 象晴設計 ElephantShine, All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
