<div class="hero-caption">
    <div class="hero-text">
        <h1 class="hero-title m-t-70 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            象晴設計
        </h1>
        <p class="lead m-t-20 m-b-60 wow fadeInDown animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInDown;">
            大象 不會忘記，晴天 永遠都在
        </p>
    </div>
</div>