@using Microsoft.AspNetCore.Mvc.Routing
<!-- NAVIGATION -->
<nav class="navbar navbar-fixed-top navbar-custom navbar-transparent">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                象晴設計
                @*<img class="light-logo" src="assets/images/logo-light.png" width="100" alt="象晴設計">*@
            </a>
        </div>

        <div class="collapse navbar-collapse" id="custom-collapse">

            <ul class="nav navbar-nav navbar-right">
                
                <li><a href="/">HOME</a></li>
                <li><a href="/Portfolio">作品集</a></li>

                @*
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Multi Page</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Parallax</a></li>
                                <li><a href="index-2.html">Slider</a></li>
                                <li><a href="index-3.html">Text Rotator</a></li>
                                <li><a href="index-4.html">Youtube Video</a></li>
                                <li><a href="index-5.html">Profile Layout 1</a></li>
                                <li><a href="index-6.html">Profile Layout 2</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">One Page</a>
                            <ul class="dropdown-menu">
                                <li><a href="op-index.html">Parallax</a></li>
                                <li><a href="op-index-2.html">Slider</a></li>
                                <li><a href="op-index-3.html">Text Rotator</a></li>
                                <li><a href="op-index-4.html">Youtube Video</a></li>
                                <li><a href="op-index-5.html">Profile Layout 1</a></li>
                                <li><a href="op-index-6.html">Profile Layout 2</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wide</a>
                            <ul class="dropdown-menu">
                                <li><a href="portfolio-wide-3col.html">3 columns</a></li>
                                <li><a href="portfolio-wide-4col.html">4 columns</a></li>
                                <li><a href="portfolio-wide-hover-w.html">Hover white</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wide - Gutter</a>
                            <ul class="dropdown-menu">
                                <li><a href="portfolio-wide-gutter-3col.html">3 columns</a></li>
                                <li><a href="portfolio-wide-gutter-4col.html">4 columns</a></li>
                                <li><a href="portfolio-wide-gutter-hover-w.html">Hover white</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Single</a>
                            <ul class="dropdown-menu">
                                <li><a href="portfolio-single-1.html">Single 1</a></li>
                                <li><a href="portfolio-single-2.html">Single 2</a></li>
                                <li><a href="portfolio-single-3.html">Single 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>*@

                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Journal</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="blog.html">Masonry</a></li>
                        <li><a href="blog-single.html">Single post</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shortcodes</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="shortcodes-buttons.html"><i class="fa fa-link"></i> Buttons</a></li>
                        <li><a href="shortcodes-grid.html"><i class="fa fa-columns"></i> Grid</a></li>
                        <li><a href="shortcodes-icons.html"><i class="fa fa-star"></i> Icons</a></li>
                        <li><a href="shortcodes-iconbox.html"><i class="fa fa-clone"></i> Iconbox</a></li>
                        <li><a href="shortcodes-modules.html"><i class="fa fa-object-ungroup"></i> Modules</a></li>
                        <li><a href="shortcodes-bars.html"><i class="fa fa-tasks"></i> Progress bars</a></li>
                        <li><a href="shortcodes-tabs.html"><i class="fa fa-plus"></i> Tabs & Accordions</a></li>
                        <li><a href="shortcodes-typography.html"><i class="fa fa-header"></i> Typography</a></li>
                    </ul>
                </li>*@
            </ul>
        </div>
    </div>
</nav>
<!-- /NAVIGATION -->