<section class="module module-g">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                <h2 class="module-title">SERVICE 服務好周到</h2>
                <h3 class="module-subtitle">象晴設計不斷的進化演進，提供完整的專業服務，效率滿載<br />為每一專案形塑極大化的價值。</h3>
            </div>
        </div>
        <div class="row multi-columns-row">
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp">
                    <div class="iconbox-icon">
                        <span class="icon icon-badge"></span>
                    </div>
                    <h6 class="iconbox-title">LOGO設計</h6>
                    <p>品牌命名‧視覺設計</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.1s">
                    <div class="iconbox-icon">
                        <span class="icon icon-emoticon-smile"></span>
                    </div>
                    <h6 class="iconbox-title">形象設計</h6>
                    <p>識別延伸‧廣宣品設計</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.2s">
                    <div class="iconbox-icon">
                        <span class="icon icon-present"></span>
                    </div>
                    <h6 class="iconbox-title">包裝設計</h6>
                    <p>產品包裝‧禮盒設計</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.3s">
                    <div class="iconbox-icon">
                        <span class="icon icon-camera"></span>
                    </div>
                    <h6 class="iconbox-title">活動文宣</h6>
                    <p>海報設計‧活動旗幟</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.4s">
                    <div class="iconbox-icon">
                        <span class="icon icon-book-open"></span>
                    </div>
                    <h6 class="iconbox-title">書籍型錄</h6>
                    <p>產品攝影‧封面及內頁</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.5s">
                    <div class="iconbox-icon">
                        <span class="icon icon-notebook"></span>
                    </div>
                    <h6 class="iconbox-title">教材編排</h6>
                    <p>視覺設計‧插畫繪製</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.6s">
                    <div class="iconbox-icon">
                        <span class="icon icon-heart"></span>
                    </div>
                    <h6 class="iconbox-title">婚卡喜帖</h6>
                    <p>客製化婚卡及喜帖</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.7s">
                    <div class="iconbox-icon">
                        <span class="icon icon-flag"></span>
                    </div>
                    <h6 class="iconbox-title">印刷輸出</h6>
                    <p>紙類印刷‧大圖輸出</p>
                </div>
            </div>
        </div>
    </div>
</section>