<section class="module module-w">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                <h2 class="module-title">Steps 專案執行流程</h2>
                <h3 class="module-subtitle">完整作業流程，量身訂做的專案服務。象晴團隊藉著專業技能，為您的專案用心付出。</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="iconbox point-img wow fadeInUp">
                    <div class="iconbox-icon">
                        <span class="icon icon-bulb"></span>
                    </div>
                    <h6 class="iconbox-title">歡迎+留言</h6>
                    <p>如果您有任何需要，歡迎至網頁留下聯絡方式，我們將熱忱為您服務。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox point-img wow fadeInUp" data-wow-delay="0.1s">
                    <div class="iconbox-icon">
                        <span class="icon icon-users"></span>
                    </div>
                    <h6 class="iconbox-title">溝通+報價</h6>
                    <p>象晴設計團隊為每位客戶規劃單一聯絡窗口，充分了解您的需求與想法，提供符合專案的專業建議，並且進行報價。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox point-img wow fadeInUp" data-wow-delay="0.2s">
                    <div class="iconbox-icon">
                        <span class="icon icon-pencil"></span>
                    </div>
                    <h6 class="iconbox-title">傾聽+提案</h6>
                    <p>傾聽是專案執行中最重要的一環。在達到高品質成品的前提下，重視您的想法，並藉著我們的專業技能執行專案，進行設計提案。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.3s">
                    <div class="iconbox-icon">
                        <span class="icon icon-directions"></span>
                    </div>
                    <h6 class="iconbox-title">結案+愉快</h6>
                    <p>高品質成品及服務，是象晴團隊的重要指標。當您確認設計內容後，代表您即將和象晴一同畫上這完美的逗點！</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center m-t-70">
                    <a href="@Url.Action("Index", "Contact")" class="btn btn-circle btn-def section-scroll wow tada animated" style="visibility: visible; animation-name: tada;">聯絡我們</a>
                </div>
            </div>
        </div>
    </div>
</section>