<div class="wrapper">
    <section id="hero" class="module-hero js-fullheight">
        <div id="slides">
            <ul class="slides-container">
                <li class="module-overlay-dark-1">
                    <img src="assets/images/banner01.png" alt="banner">
                </li>
                <li class="module-overlay-dark-1">
                    <img src="assets/images/banner02.png" alt="banner">
                </li>
                <li class="module-overlay-dark-1">
                    <img src="assets/images/banner03.png" alt="banner">
                </li>
            </ul>
            <nav class="slides-navigation">
                <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
                <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
            </nav>
        </div>
    </section>
    <section id="profile" class="module module-w p-b-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                    <h2 class="module-title">ABOUT 象晴設計</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="module-subtitle m-t-90 m-t-sm-0">
                        象，有驚人的記憶力；
                        晴，是每一天的生活！
                        <br />
                        <p>歡迎光臨 象晴設計！</p>
                        <p>在這兒，晴天非外在，而是心情；</p>
                        <p>讓咱們一同帶著愉快的心，完成每件最重要的專案！</p>
                        <br />
                        <p>NICE to MEET YOU！</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="/assets/images/about.jpg" alt="about elephantshine">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="module module-g">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                    <h2 class="module-title">SERVICE 服務好周到</h2>
                    <h3 class="module-subtitle">象晴設計不斷的進化演進，提供完整的專業服務，效率滿載<br />為每一專案形塑極大化的價值。</h3>
                </div>
            </div>
            <div class="row multi-columns-row">
                <div class="col-sm-3">
                    <div class="iconbox wow fadeInUp">
                        <div class="iconbox-icon">
                            <span class="icon icon-badge"></span>
                        </div>
                        <h6 class="iconbox-title">LOGO設計</h6>
                        <p>品牌命名‧視覺設計</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow fadeInUp" data-wow-delay="0.1s">
                        <div class="iconbox-icon">
                            <span class="icon icon-emoticon-smile"></span>
                        </div>
                        <h6 class="iconbox-title">形象設計</h6>
                        <p>識別延伸‧廣宣品設計</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow fadeInUp" data-wow-delay="0.2s">
                        <div class="iconbox-icon">
                            <span class="icon icon-present"></span>
                        </div>
                        <h6 class="iconbox-title">包裝設計</h6>
                        <p>產品包裝‧禮盒設計</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow fadeInUp" data-wow-delay="0.3s">
                        <div class="iconbox-icon">
                            <span class="icon icon-camera"></span>
                        </div>
                        <h6 class="iconbox-title">活動文宣</h6>
                        <p>海報設計‧活動旗幟</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow fadeInUp" data-wow-delay="0.4s">
                        <div class="iconbox-icon">
                            <span class="icon icon-book-open"></span>
                        </div>
                        <h6 class="iconbox-title">書籍型錄</h6>
                        <p>產品攝影‧封面及內頁</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow fadeInUp" data-wow-delay="0.5s">
                        <div class="iconbox-icon">
                            <span class="icon icon-notebook"></span>
                        </div>
                        <h6 class="iconbox-title">教材編排</h6>
                        <p>視覺設計‧插畫繪製</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow fadeInUp" data-wow-delay="0.6s">
                        <div class="iconbox-icon">
                            <span class="icon icon-heart"></span>
                        </div>
                        <h6 class="iconbox-title">婚卡喜帖</h6>
                        <p>客製化婚卡及喜帖</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow fadeInUp" data-wow-delay="0.7s">
                        <div class="iconbox-icon">
                            <span class="icon icon-flag"></span>
                        </div>
                        <h6 class="iconbox-title">印刷輸出</h6>
                        <p>紙類印刷‧大圖輸出</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="module module-w">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                    <h2 class="module-title">Steps 專案執行流程</h2>
                    <h3 class="module-subtitle">完整作業流程，量身訂做的專案服務。象晴團隊藉著專業技能，為您的專案用心付出。</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="iconbox point-img wow fadeInUp">
                        <div class="iconbox-icon">
                            <span class="icon icon-bulb"></span>
                        </div>
                        <h6 class="iconbox-title">歡迎+留言</h6>
                        <p>如果您有任何需要，歡迎至網頁下方留下聯絡，我們將熱忱為您服務。</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox point-img wow fadeInUp" data-wow-delay="0.1s">
                        <div class="iconbox-icon">
                            <span class="icon icon-users"></span>
                        </div>
                        <h6 class="iconbox-title">溝通+報價</h6>
                        <p>象晴設計團隊為每位客戶規劃單一聯絡窗口，充分了解您的需求與想法，提供符合專案的專業建議，並且進行報價。</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox point-img wow fadeInUp" data-wow-delay="0.2s">
                        <div class="iconbox-icon">
                            <span class="icon icon-pencil"></span>
                        </div>
                        <h6 class="iconbox-title">傾聽+提案</h6>
                        <p>傾聽是專案執行中最重要的一環。在達到高品質成品的前提下，重視您的想法，並藉著我們的專業技能執行專案，進行設計提案。</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow fadeInUp" data-wow-delay="0.3s">
                        <div class="iconbox-icon">
                            <span class="icon icon-directions"></span>
                        </div>
                        <h6 class="iconbox-title">結案+愉快</h6>
                        <p>高品質成品及服務，是象晴團隊的重要指標。當您確認設計內容後，代表您即將和象晴一同畫上這完美的逗點！</p>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-sm-12">

                        <div class="text-center m-t-70">
                            <a href="#contact" class="btn btn-circle btn-def section-scroll wow tada">Start work with me</a>
                        </div>

                    </div>
                </div>*@
        </div>
    </section>
    <section id="contact" class="module module-g">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                    <h2 class="module-title">CONTACT 歡迎來作客</h2>
                    <h3 class="module-subtitle">大象，擁有超強的記憶力。歡迎您留下資本資料，讓我們記住您，並與你聯繫！<br />象晴設計‧誠摯款待！</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 wow fadeInUp">

                    <form id="contact-form" role="form" method="POST" action="https://docs.google.com/forms/d/e/1FAIpQLScTg2fqUJXJFV0PWSVZM6DUTzekOPTvgXywESqiAgCulhygzg/formResponse">
                        <div class="form-group wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <label class="sr-only" for="name">*姓名</label>
                            <input type="text" id="name" class="form-control" name="entry.1553256810" placeholder="*姓名" required="required">
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <label class="sr-only" for="company">公司名稱</label>
                            <input type="text" id="company" class="form-control" name="entry.1361155596" placeholder="公司名稱">
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <label class="sr-only" for="email">*E-mail</label>
                            <input type="email" id="email" class="form-control" name="entry.2113513241" placeholder="*E-mail" required="required">
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <label class="sr-only" for="phone">*連絡電話</label>
                            <input type="text" id="phone" class="form-control" name="entry.1066705664" placeholder="*連絡電話" required="required">
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <label class="sr-only" for="work">*需求項目</label>
                            <select name="entry.859200831" id="work" class="form-control" size="1" required="required">
                                <option value="">*需求項目</option>
                                <option>LOGO設計</option>
                                <option>形象設計</option>
                                <option>包裝設計</option>
                                <option>活動文宣</option>
                                <option>書籍型錄</option>
                                <option>教材編排</option>
                                <option>婚卡喜帖</option>
                                <option>印刷輸出</option>
                            </select>
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <textarea class="form-control" id="message" name="entry.2071356545" rows="7" placeholder="訊息"></textarea>
                        </div>
                        <button type="submit" class="btn btn-block btn-custom-2 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            送出
                        </button>
                    </form>

                    <div class="ajax-response">
                        <i class="fa fa-warning"></i> * 為必填(選)欄位
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
